<!DOCTYPE HTML>
<html> 
<head>
    <meta name="viewport" content="width='device-width', initial-scale=1.0">
    <link rel="stylesheet" type ="text/css" href="style_about.css">
    <title> Practice</title>
</head>
<body>

    <!--Link to Homepage-->
   <!-- <a href="index.html">Home</a>
   <blockquote cite ="www.netnaija.com">
       We went from nothing to something
    </blockquote>
    <p style="color: cyan">Style me :)</p>-->

<!--Learning CSS Basics-->

<header>
    <h1>MarioClub</h1>
</header>
 <section class="banner">
     <img src="img/squid-g.png" alt="An image">
     <div class="welcome">
         <h2>Welcome to <br/> <span>MarioClub</span></h2>
     </div>
 </section>
<nav class="main-nav">
    <ul>
        <li><a href="folder/join.html" class="join">Join the big boyz</a></li>
        <li><a href="folder/news.html">Latest</a></li>
        <li><a href="folder/games.html">Hot games</a></li>
        <li><a href="folder/contact.html">Contact us</a></li>
    </ul>
</nav>
<main>
    <article>
        <h2>It's me, Mario</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
            Consectetur id Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
            Vel fugit officia maxime quae accusamus veritatis exercitationem excepturi, magni quam reiciendis?
            Fuga provident illum blanditiis consequatur?
            Id deserunt ratione aspernatur soluta?
            exercitationem ratione quibusdam vero inventore harum mollitia ex non veniam dolore, quasi facere nisi illo cum veritatis animi? 
            Ipsam, repellat.
        </p>
    </article>
    <ul class="images">
    <li>
        <img src="img/squid-ga.png" alt="An image" ><br/> <!-- style ="max-width: 100%;"
            style ="max-width: 100%;"-->
        <img src="img/squid-game.png" alt="An image" >
    </li>
    </ul>
</main>
<section class="join">
    <h2>
        Join Today!
    </h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Tenetur rerum nostrum magni ex. 
        Blanditiis magnam voluptatibus illum, unde esse, 
        pariatur minima possimus molestiae nobis facilis autem 
        quasi! Nam, explicabo esse?
    </p>
    <form>
        <label for="email"></label>
        <input type="email" name="email" id="email" placeholder="Enter Your Email" required>
    </form>

</section>
<footer>
    <p class="copyright"> Copyright 2021 MarioClub</p>
</footer>






<!--
<p>
Lorem ipsum, dolor sit amet consectetur adipisicing elit.
 Aspernatur blanditiis dicta excepturi provident amet iusto eos repellendus! Autem, optio. 
Officiis rem quibusdam deleniti veritatis consequatur rerum tenetur dolorum tempora ab?
Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
Harum cum at veniam itaque ullam non dignissimos amet ratione ex! 
Repellendus aperiam aut numquam fugiat odio? Libero itaque accusantium reprehenderit qui?
Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minima, obcaecati. 
Cumque natus omnis aperiam nihil fugiat nemo harum quibusdam id fuga nulla! Officiis voluptatem esse quia accusamus vero, corporis alias?
</p>
-->
</body>
</html>
