<!DOCTYPE HTML>
<html> 
<head>
    <link rel="stylesheet" href="style.css">
    <title> Smart Lock System</title>
</head>
<body>
    <header>
        <div class = "backgrounddiff">
            <div class="first-layer">
                <div class="head-img">
                    <img src="img/logo.jpg" alt="TFS security logo" title="TFS security">
                </div>
            </div>
            <div class="second-layer">
                <div class="body">
                    <h1>Welcome to TFS Security. </h1>
                    <h4> ...............................Your Security our top priority</h4>
                </div>
            </div>
            <div class="third-layer">
                <a href="index.html">Home</a>
                <a href="sign-in.html">Sign-in</a>
                <a href="sign-up.html">Sign-up</a>
                <a href="about.html">About Us</a>
            </div>
        </div>
    </header>
    <main>
        <img src="img/squid-g.png" alt="Socials">
        
    </main>
    <footer>
        <div class="footer-logo">
            <img src="img/logo.jpg" alt="TFS Logo">
        </div>
        <div>
            <small>@ TFS 2023</small>
        </div>
        <div class="socials">
            <img src="img/twitter.png" alt="Twitter Logo">
            <img src="img/linkedin.png" alt="Twitter Logo">
            <img src="img/instagram.png" alt="Twitter Logo">
            <img src="img/github.png" alt="Twitter Logo">
            <img src="img/facebook.png" alt="Twitter Logo">
        </div>
    </footer>
</body>
</html>
