<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  type="text/css" href="profile.css">
    <script type="text/javascript" src="profilescript.js">

    </script>
    <title>Dashboard</title>
</head>
<body>
    <header>
            <div class="All">
        <div class="head">
            <a href="index.html">Home</a>
        </div>
    </header>
    <main>
        <div class = "body">
            <div class="sidepanel">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="main-body">
                <div class="button" id="on"> <button class="onit" id="clickonit" onclick="onit(this)"> ON </button> </div>
                <div class="button" id="off">  <button class="offit" id="clickoffit" onclick="offit(this)">  OFF </button> </div>
                <!-- this.innerHTML='Turn On' -->
            </div>
        </div>
    </div>
</main>
</body>
</html>