<!DOCTYPE HTML>
<html> 
    <head>
        <link rel="stylesheet" href="style_sign_in.css">
        <title> Smart Lock System</title>
    </head>
    <body>
        <header>
            <div class="head">
                <div class="head-img">
                <img src="img/logo.jpg" alt="TFS security logo" title="TFS security">
                </div>
                <div class="head-links">
                    <a href="index.html">Home</a>
                    <a href="sign-up.html">Sign-up</a>
                    <a href="about.html">About Us</a>
                </div>
            </div>
        </header>
        <main>      
            <div id = "Log-in">
                <h2>Sign-Up</h2>
                <div class="Sign-in">
                    <form action="get">
                        <label for="Firstname">Firstname</label>
                        <input type="text" name="Firstname" id="Firstname" placeholder="Enter your Firstname" required>
                        <label for="Lastname">Lastname</label>
                        <input type="text" name="Lastname" id="Lastname" placeholder="Enter your Lastname" required>                        
                        <br><br>
                        <label for="Password">Password</label>
                        <input type="password" name="Password" id="Password" placeholder="Enter your Passkey" required>
                        <br><br>
                        <input type="submit" name="submit" id="submit">
                    </form>
                </div>
                <p>By continuing, you agree to TFS's Conditions of Use and Privacy Notice. </p>
                
            </div>
            <div class="newuser">
                <h3>New to TFS?</h3>
                <button><a href="sign-up.html">Create Account</a></button>
            </div>
        </main>
        <footer>
            <div class="footer-logo">
                <img src="img/logo.jpg" alt="TFS Logo">
            </div>
            <div>
                <small>@ TFS 2023</small>
            </div>
            <div class="socials">
                <img src="img/twitter.png" alt="Twitter Logo">
                <img src="img/linkedin.png" alt="Twitter Logo">
                <img src="img/instagram.png" alt="Twitter Logo">
                <img src="img/github.png" alt="Twitter Logo">
                <img src="img/facebook.png" alt="Twitter Logo">
            </div>
        </footer>
    </body>
</html>

