
<!DOCTYPE HTML>
<html> 
    <head>
        <link rel="stylesheet" href="style_sign_up.css">
        <title> Smart Lock System</title>
    </head>
    <body>
        <div class="head">
            <div class="head-img">
            <img src="img/logo.jpg" alt="TFS security logo" title="TFS security">
            </div>
            <div class="head-links">
                <a href="index.html">Home</a>
                <a href="sign-in.html">Sign-in</a>
                <a href="sign-up.html">Sign-up</a>
                <a href="profile.html">Dashboard</a>
                <a href="about.html">About Us</a>
            </div>
        </div>
        <div class="body">
            <h1>Welcome to TFS Security </h1>
            <h4> Your Security our top priority</h4>
            <div id = "Log-in">
                <div class="Sign-up">
                    <form action="html_forms.html">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" placeholder="Enter your email address" required>
                    <br><br>
                    <label for="Password">Password</label>
                    <input type="password" name="Password" id="Password" placeholder="Enter your Passkey" required>
                    <br><br>
                    <input type="submit" name="submit" id="submit">
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>